.dc_chat_dialog_ballon-ballon {
    border-radius: 10px;
    max-width: calc(80% - 60px);
    padding: 10px 20px 10px 20px;
}

.dc_chat_dialog_ballon-ballon_p {
    color: whitesmoke;
    margin: 0;
}

.dc_chat_dialog_ballon-ballon_bot {
    background-color: #0f6496;
    float: left;
    margin: 0 0 0 65px;
}

.dc_chat_dialog_ballon-ballon_bot::before {
    border-right: 15px solid transparent;
    border-top: 15px solid #0f6496;
    bottom: -5px;
    content: '';
    left: 65px;
    position: absolute;
}

.dc_chat_dialog_ballon-ballon_user {
    background-color: #424242;
    float: right;
    margin: 0 65px 0 0;
}

.dc_chat_dialog_ballon-ballon_user::before {
    border-top: 15px solid #424242;
    border-left: 15px solid transparent;
    bottom: -5px;
    content: '';
    right: 65px;
    position: absolute;
}