img {
    border-radius: 10px;
    height: 400px;
    width: 100%;
}

.carousel-caption {
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    left: 2.5%;
    opacity: 0.8;
    right: 2.5%;
}

.dc_chat_dialog_carousel {
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    float: left;
    width: 50%;
    margin: 5px 0 5px 65px;
}