<div class="dc_chat_dialog_carousel">

    <ngb-carousel #carousel interval="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of carouselImgList; index as i">
            <div class="carousel-caption">
                <h5> {{ img.title }} </h5>
                <p [innerHTML]="img.description | safe: 'html'"> </p>
            </div>
            <div class="picsum-img-wrapper">
                <img [src]="img.source" alt="My image {{i + 1}} description">
            </div>
        </ng-template>
    </ngb-carousel>

</div>