<div class="chat_header_title">
    <h4> Chat </h4>
    <div class="chat_header_controls">
        <i class="material-icons" (click)="cleanDialog()"> delete_forever </i>
        <i class="material-icons" (click)="closeChatWindow()"> clear </i>
    </div>
</div>
<div class="chat_header_assistant_info">
    <img src="{{ avatarPath }}">
    <span> Assistente virtual </span>
</div>