.dc_chat_header {
    height: 80px;
}

.dc_chat_body {
    height: calc(100% - 130px);
    overflow: auto;
}

.dc_chat_input_text {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.19);
    height: 50px;
}

.dc_chat_window {
    height: 100%;
}